.panel-default > .panel-heading-custom {
    background: #000000; color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.jumbotron {
        background-image: url("https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-size: 100%;
    text-align: center;  
}

.jumbotron > h1 {
    text-shadow: 1px 1px 2px black;
}

#map {
width: 100%;
position: inherited;
height: 600px;
margin:0;
padding-top: 100px;
border: 1px solid black;
border-radius: 8px;
}
.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}